body {
    background-color: #24082d;
    color: white;
    font-family: 'Audiowide';
}

.header {
    background-color: #4a0e5e;
    margin-top: 20px;
    margin-left: 22px;
    width: 97%;
    border-radius: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.correctlink{
    text-decoration: none;
    color: white;
}

.infos{
    background-color: #4a0e5e;
    padding: 0%;
    margin-left: 0%;
    margin-top: 120px;
    width: 70%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: flex-start;
    margin-left: 200px;
    border-radius: 50px;

}
.box1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.box2{
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    text-align: right;
}
.correctlink{
    text-decoration: none;
    color: white;
    margin-left: 40px;
    margin-top: auto;
    margin-bottom: auto;
}
.correctlink:hover{
    color: rgb(75, 39, 109);
    border-top-style: solid;
    border-top: orange;
    padding-top: 5px;
    margin-top: -px;
}
.fa-regular{
    color: white;
    font-size: 25px;
    align-items: center;
    margin: 0 0 0 40px;
}

.prenom{
    margin-left: 50px;

}

.nom{
    margin-left: 50px;
    margin-top: 30px;

}

.mail{
    margin-left: 50px;

}

.role{
    margin-left: 50px;
}

.client{
    margin-left: 50px;
    margin-bottom: 30px;
}

.actions{
    margin-top: 80px;
    margin-left: 500px;
    width: 20%;

}

button {
    display: flex;
    border-radius: 3px;
    margin:auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 18px;
    padding-bottom: 18px;
    color: white;
    background-color: rgb(60, 40, 86);
    border-style: none;
    margin-top: 25px;
    border-style: solid;
    border-color: white;
    border-radius: 50px;
}

button:hover {
    background-color: rgb(118, 64, 187);
    color: rgb(254, 254, 254);
}