body {
    background-color: #24082d;
    color: white;
    font-family: 'Audiowide';
}

.header {
    background-color: #4a0e5e;
    margin-top: 20px;
    margin-left: 22px;
    width: 97%;
    border-radius: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.correctlink{
    text-decoration: none;
    color: white;
}


.box1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.box2{
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    text-align: right;
}
.correctlink{
    text-decoration: none;
    color: white;
    margin-left: 40px;
    margin-top: auto;
    margin-bottom: auto;
}
.correctlink:hover{
    color: rgb(75, 39, 109);
    border-top-style: solid;
    border-top: orange;
    padding-top: 5px;
    margin-top: -px;
}
.fa-regular{
    color: white;
    font-size: 25px;
    align-items: center;
    margin: 0 0 0 40px;
}

.transactions {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #4a0e5e;
    padding: 0%;
    margin-left: 68px;
    margin-top: 40px;
    width: 90%;
    height: 400px;
    display: flex;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    border-radius: 50px;

}

 .transactions h1{
    display: flex;
    justify-content: flex-start;
 }
.exp{

    background-color: antiquewhite;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dest{
    background-color: antiquewhite;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.retrait {
    display: flex;
    justify-content: flex-start;
    background-color: #4a0e5e;
    padding: 0%;
    margin-left: 68px;
    margin-top: 40px;
    width: 90%;
    height: 400px;
    display: flex;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    border-radius: 50px;

}

