body {
    background-color: #1a0521;
    height: auto;
    width: auto;
    color: white;
    font-family: 'Audiowide';
}

header {
    position:fixed;
        top: 2%;
        left: 5%;
        right: 5%;
    display: flex;
    align-items: center;
    border-style: solid;
    border-color: white;
    border-radius: 100px;
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
    justify-content: space-around;
}

#title {
    display: flex;
}

#text1 {
    width: 30%;
    height: 40%;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    padding: 15px;
}

#loginsep {
    margin-top: 10%;
}

#contenu {
    background-color:#1a0521;
    height: auto;
    width: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:auto;
    color: white;
    margin-left: 40%;
}

#email {
    display: flex;
    margin-bottom: 1%;
    flex-direction: column;
    width: 300px;
}

#password {
    display: flex;
    margin-bottom: 1%;
    flex-direction: column;
    width: 300px;
}

#button {
    cursor: pointer;
    margin-bottom: 1%;
}

.titre {
    font-size: 60px;
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 10%;
    justify-content: space-around;
    font-weight: bold;
    text-align: center; 
}

.space {
    margin-left: 25px;
}

.correctlink{
    text-decoration: none;
    color: white;
}

.divnav {
    justify-content: space-around;
}

.sect1 {
    display: flex;
    margin-top: 15%;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.inscription2{
    color: rgb(0, 0, 0);
}

.error-alert {
    background-color: red;
}

.credit {
    display: flex;
    position:fixed;
        bottom: 0;
        left: 5%;
    font-family: 'Courier New', Courier, monospace;
}