body {
    background-color: #1a0521;
    color: white;
    font-family: 'Audiowide';
}

header {
    position:fixed;
        top: 2%;
        left: 5%;
        right: 5%;
    display: flex;
    align-items: center;
    border-style: solid;
    border-color: white;
    border-radius: 100px;
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
    justify-content: space-around;
}

#title {
    display: flex;
}

#text1 {
    width: 30%;
    height: 40%;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    padding: 15px;
}

#loginsep {
    margin-top: 10%;
}

.space {
    margin-left: 25px;
}

.correctlink{
    text-decoration: none;
    color: white;
}

.divnav {
    justify-content: space-around;
}

.sect1 {
    display: flex;
    margin-top: 15%;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.error-alert {
    background-color: red;
}

.credit {
    display: flex;
    position:fixed;
        bottom: 0;
        left: 5%;
    font-family: 'Courier New', Courier, monospace;
}